@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Product Colors */
    --prod-bg: 240 23% 9%; /* #13111C */
    --prod-text-color1: 0 0% 98%; /* #F8FAFC */
    --prod-text-color2: 210 13% 60%; /* #94A3B8 */
    --prod-text-color3: 274 72% 79%; /* #BF93EC */
    --prod-border-color1: 273 53% 47%; /* #52297A */
    --prod-border-color2: 210 20% 20%; /* #1E293B */
    --prod-alert: 0 74% 60%; /* #EA4335 */
    --prod-leftnav: 240 14% 12%; /* #181622 */
    /* --prod-leftnav-hover: 240 14% 15%; #1C1A2A */
  }
}
